<h2>SIGN IN TO OUR WEBSITE!</h2>

<form action=<%= session_url%> method="POST">
  <label >Username
    <input type="text" name="user[username]" value="">
  </label>

  <label >Password
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="SIGN IN">

</form>