<h1>Here is all the Users</h1>
<% @users.each do |user| %>
    <ul>
        <li>Email: <%= user.email %></li> 
        <li>Password_digest: <%=user.Password_digest %></li>
        <li>Session_token<%= user.session_token %></li>
    </ul>
<%end %>